.table-serial td[contenteditable="true"] {
    border: 1px solid #4CAF50;
    background: #f6fff6;
}
.table-serial select {
	width: 100%;
	font-size: 11px;
}
.table-serial.widefat td,
.table-serial.widefat th {
	font-size: 11px;
}